.loader {
    width: calc((var(--ui-height) - var(--padding) * 2) * 0.9);
    height: calc((var(--ui-height) - var(--padding) * 2) * 0.9);
    border: 3px dotted var(--text-color);
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 2s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}