.contact{
    padding: var(--padding);
    border-radius: var(--border-radius);
}

.contact-descr{
    color: var(--text-color-secondary);
    font-size: 0.7rem;
    font-weight: 300;
}

.contact-name{
    font-size: 0.9rem;
    font-weight: 500;
}

.contact-value{
    color: var(--text-color-secondary);
    font-size: 0.8rem;
    font-weight: 300;
}
