.textarea{
    padding: var(--textarea-padding);
    color: var(--ui-color);
    font-size: 0.8rem;
    background-color: var(--bg-main);
    border: 1px solid var(--border-color);
    border-radius: var(--ui-radius);
    outline-color: var(--text-accent-color);
    resize: none;
}