/*------------- task --------------*/
.task {
    line-height: 1.2;
}

.task-container {
    min-height: 100px;
    padding: 10px;
    display: flex;
    gap: var(--task-content-gap);
    background-color: var(--task-bg-color);
    border-color: var(--task-border-color);
}

.task-container + .task-container {
    border-top: 1px solid var(--task-border-color);
}

.task-urgent{
    background: linear-gradient(65deg, var(--task-report-color), var(--task-bg-color) 25%, var(--task-bg-color));
}

.task-highPriority{
    background: linear-gradient(65deg, var(--confirm-color), var(--task-bg-color) 25%, var(--task-bg-color));
}



/*.task-container.closed {*/
/*    filter: brightness(0.96);*/
/*}*/

.task-date-container {
    flex: none;
    width: 80px;
    justify-self: flex-start;
    display: flex;
    flex-direction: column;
    color: var(--text-color-secondary);
    font-size: 1rem;
    line-height: 1.4;
}

.task-date {
    font-size: 0.7rem;
}

.task-deadline {
    font-size: 0.65rem;
}

.task-expired{
    padding: 2px 8px;
    align-self: flex-start;
    font-size: 0.55rem;
    letter-spacing: 0.95px;
    font-weight: 600;
    color: #800602;
    background-color: var(--ui-bg-error);
    border-radius: var(--ui-height);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.task-content {
    display: flex;
    flex-direction: column;
    gap: var(--task-content-gap);
}

.task-title {
    color: var(--task-title-color);
    font-size: 0.85rem;
    font-weight: 500;
}

.task-description {
    font-size: 0.7rem;
    font-weight: 300;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    overflow: hidden;
    -webkit-box-orient: vertical;
}

.task-btns{
    margin-top: auto;
}

.task-button {
    align-self: flex-start;
    color: var(--text-button-color);
    border: none;
    padding: 0;
    font-weight: 500;
}

/*---------------------------------*/

/*---------task placeholder -------*/

.row-placeholder {
    background-color: var(--placeholder-color);
    height: var(--placeholder-height);
    border-radius: var(--ui-radius);
}

.placeholder-flash {
    position: absolute;
    inset: 0;
    height: 200%;
    background: linear-gradient(to right, transparent 0% ,  var(--placeholder-flash-colort) 20%, transparent 40% );
    animation: 1s linear infinite flashMove;
    z-index: 10;
}

@keyframes flashMove {
    from {
        transform: translateX(-200%) rotate(45deg);
    }
    to {
        transform: translateX(200%) rotate(45deg);
    }
}

.taskPlaceholder {
    display: flex;
    position: relative;
    justify-content: stretch;
    align-items: stretch;
    overflow: hidden;
    height: 150px;
    padding: var(--padding);
    background-color: var(--bg-main);
    overflow: hidden;
}

.taskPlaceholder + .taskPlaceholder{
    border-top: 1px solid var(--task-border-color);
}

.taskPlaceholder-left{
    flex: none;
    width: 60px;
}

.taskPlaceholder-right{
    flex: 1 1;
    margin-left: var(--margin);
    display: flex;
    flex-direction: column;
    gap: var(--offset);
}

.task-closed{
    color: var(--task-success-color);
}
.task-report{
    color: var(--task-report-color);
}


/*---------------------------------*/

