.bx-select {
    position: relative;
    display: inline-block;
    /*width: 200px; !* Ширина select *!*/
    height: 40px;
    border: 1px solid #ccc; /* Граница */
    border-radius: 4px; /* Скругленные углы */
    padding: 8px 12px; /* Отступы внутри */
    background-color: #fff; /* Фон */
}

.bx-select-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.bx-select-arrow {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #ccc; /* Цвет стрелки */
    margin-left: 5px; /* Отступ от текста */
}

.bx-select-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 10;
    list-style: none;
    padding: 0;
    margin: 0;
}

.bx-select-dropdown-item {
    padding: 8px 12px;
    cursor: pointer;
}

.bx-select-dropdown-item:hover {
    background-color: #f0f0f0; /* Цвет при наведении */
}

.bx-select-dropdown-item.active {
    background-color: #e0e0e0; /* Цвет активного элемента */
}