.bx-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.75rem;
    color: var(--text-color);
    background-color: var(--bg-main);
}

.bx-table-header {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
}

.bx-table-cell {
    padding: 8px;
    border-bottom: 1px solid var(--border-color);
    text-align: left;
}
