.reload{
    padding: 0 0.5rem;
    position: relative;
    display: flex;
    align-items: center;
    white-space: nowrap;
    color: var(--text-accent-color);
    border-radius: var(--ui-height);
    background-color: transparent;
    border: none;
    overflow: hidden;
}

.reload:after{
    content: '';
    position: absolute;
    inset: 0;
    background-color: var(--text-accent-color);
    opacity: .3;
    z-index: 0;
}

.icon-reload{
    margin-right: .5rem;
    color: var(--text-accent-color);
}