@import "reset.css";
@import "variables.css";

*, *::before, *::after {
    box-sizing: border-box;
    background-color: inherit;
    color: inherit;
    line-height: inherit;
}

body, html {
    font-family: 'Arial', sans-serif;
    min-height: 100vh;
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.2;
    background-color: var(--bg-secondery);
}


/*----------- wrapper ------------*/
.wrapper {
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    background-color: var(--bg-secondery);
}

.wrapper-header {
    flex: none;
    background-color: inherit;
}

.wrapper-content {
    flex: 1 1;
    overflow: auto;
    background-color: inherit;
}

.wrapper-footer {
    float: none;
    margin-top: auto;
    background-color: inherit;
}
/*---------------------------------*/

/*----------- button --------------*/
.btn{
    height: var(--btn-height);
    flex: 1 1;
    padding: var(--padding);
    display: inline-flex;
    justify-content: center;
    align-items: stretch;
    color: var(--btn-color);
    font-size: 1rem;
    font-weight: 400;
    background-color: var(--bg-main);
    border: 1px solid var(--border-color) ;
    border-radius: var(--btn-radius);
    outline-color: var(--text-accent-color);
    cursor: pointer;
}
.btn.full{
    width: 100%;
}

.btn:disabled{
    filter: brightness(0.96);
    pointer-events: none;
    cursor: default;
}

/*---------------------------------*/

/*----------- textarea ------------*/
.textarea{
    padding: var(--textarea-padding);
    color: var(--ui-color);
    font-size: 0.8rem;
    background-color: var(--bg-main);
    border: 1px solid var(--border-color);
    border-radius: var(--ui-radius);
    outline-color: var(--text-accent-color);
    resize: none;
}
/*---------------------------------*/




/*----------- calendar ------------*/
.calendar {
    font-size: 0.85rem;
    width: calc(var(--calendar-day-width) * 7 + 8px);
    background-color: var(--calendar-bg-color);
    border-radius: var(--calendar-border-radius);
    overflow: hidden;
}

.calendar-header {
    height: var(--calendar-day-height);
    position: relative;
    display: flex;
    justify-content: stretch;
    align-items: center;
    background-color: var(--calendar-header-bg-color);
}

.calendar-arrow {
    flex: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--calendar-day-width);
    height: 100%;
    background-color: var(--calendar-arrow-bg-color);
}

.calendar-arrow::after {
    content: "";
    border-top: 4px solid var(--calendar-arrow-color);
    border-left: 4px solid var(--calendar-arrow-color);
    border-right: 4px solid transparent;
    border-bottom: 4px solid transparent;
    transform: rotate(-45deg);
}

.calendar-arrow-right::after {
    transform: rotate(135deg);
}

.calendar-month {
    flex: 1 1;
    font-weight: 600;
    text-overflow: ellipsis;
    text-align: center;
}

.calendar-days {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--calendar-bg-color);
}

.calendar-day {
    flex: none;
    width: var(--calendar-day-width);
    height: var(--calendar-day-height);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.calendar-day.selected {
    background-color: var(--calendar-day-selected-color);
    border-radius: var(--calendar-day-selected-border-radius);
}

.calendar-day.weekend {
    color: var(--calendar-weekend-text-color);
}

.calendar-btn-dayReset{
    margin-right: 8px;
    padding: 0 4px;
    display: block;
    margin-left: auto;
    height: var(--ui-height);
    background-color: inherit;
    color: var(--text-accent-color);
    border: none;
}

.calendar-btn-dayReset:disabled{
    color: var(--text-color);
}

/*---------------------------------*/





/*------------ Modal --------------*/
.modal {
}

.modal-back {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    z-index: calc(var(--z-modal) - 1);
}

.modal-content {
    position: fixed;
    left: 50%;
    top: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1 );
    transform: translate(-50%, -50%);
    z-index: var(--z-modal);
}

.calendar-modal{
    /*top: var(--offset);*/
    /*left: var(--offset);*/
    /*transform: unset;*/
}

/*---------------------------------*/

/*----------- report --------------*/
.report{

}

.report-container{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: var(--bg-main);
}

.report-title{
    font-weight: 600;
}

.report-content{
    /*padding: var(--padding);*/
    height: calc(100% - var(--padding) *2);
}

.report-text{
    /*flex: 1 1;*/
    width: 100%;
    /*height: 100%;*/
}

.confirm-btn{
    color: var(--text-color);
    background-color: var(--confirm-color);
}
/*---------------------------------*/

/*------------ Loader -------------*/
.loader {
    width: var(--loader-width);
    height: var(--loader-height);
    border: 5px solid var(--loader-color);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/*---------------------------------*/

/*------------- task property -----*/
.taskDetails-property-accent{
    color: var(--text-error-color);
    font-weight: 600;
}
/*---------------------------------*/


.container {
    padding: 0 var(--padding) 0;
}

.mainPage-header{
    padding: var(--padding) 0;
}

.dayBtn {
    padding: 8px 12px;
    color: var(--text-color);
    font-weight: 600;
    background-color: var(--bg-main);
    border-radius: 4px;
    border: none;
}

.tasks-list {
    border-radius: var(--task-border-radius);
    overflow: hidden;
}

.app-error {
    margin-top: var(--margin);
    padding: var(--padding);
    color: var(--text-error-color);
    font-size: 0.75rem;
    background-color: var(--error-bg-color);
    border-radius: var(--border-radius);
}

.footer-btns{
    display: flex;
    justify-content: stretch;
    /*gap: var(--offset);*/
}

.title{
    margin: var(--margin) var(--margin) 0;
    font-weight: 600;
}

.ui-form-row{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: var(--margin);
    overflow: hidden;
}

.next-task-container{
    padding: var(--padding);
    background-color: #e2e8e8;
    border-right: var(--border-radius);
}

.report-content{
    padding-top: var(--padding);
    background-color: #f5f9f9;
}