:root{
    --vh: 1vh;
    --text-color: #6e6e6e;
    --text-color-secondary: #8e8e8e;
    --text-accent-color: #478EE4;
    --text-error-color:#D8454A;
    --text-button-color: var(--text-error-color);
    --confirm-color: #b0dd86;
    --border-color: #c1c1c1;
    --border-radius: 8px;
    --bg-main: #fff;
    --bg-header: #e2ebee;
    --bg-secondery: #eee;
    --offset: 10px;
    --padding: var(--offset);
    --margin: var(--offset);
    --z-modal: 1000;
    --z-page-overlay: 100;


    --ui-radius: 4px;
    --ui-color: var(--text-color);
    --ui-border-color: var(--border-color);
    --ui-height: 40px;
    --ui-bg-color: var(--bg-main);
    --ui-bg-error: #ff9a97;


    --calendar-day-width: var(--ui-height);
    --calendar-day-height: var(--ui-height);
    --calendar-day-selected-color: var(--confirm-color);
    --calendar-day-selected-border-radius: 4px;
    --calendar-header-bg-color: var(--text-accent-color);/*#d3e1ed;*/
    --calendar-arrow-bg-color: var(--text-accent-color);/*#eaf6ff;*/
    --calendar-bg-color: var(--bg-main); /* #eaf6ff */
    --calendar-arrow-color: var(--text-color);/*#8ba7be;*/
    --calendar-weekend-text-color: var(--text-error-color); /*#d44e4e;*/
    --calendar-border-radius: var(--border-radius);

    --error-bg-color: var(--text-error-color);
    --task-bg-color: var(--bg-main);
    --task-content-gap: var(--padding);
    --task-border-color: var(--border-color);
    --task-title-color: var(--text-accent-color);
    --task-text-color: var(--text-color);
    --task-border-radius: var(--border-radius);
    --task-success-color: #107000;
    --task-report-color: var(--text-error-color);


    --loader-width: var(--ui-height);
    --loader-height: var(--ui-height);
    --loader-color: var(--text-accent-color);

    --btn-height: var(--ui-height);
    --btn-radius: var(--ui-radius);
    --btn-color: var(--ui-color);

    --textarea-padding: 4px;
    --checbox-width: 16px;

    --placeholder-color: #e3e3e3;
    --placeholder-height: .7rem;
    --placeholder-flash-colort: rgba(255,255,255, .5);
}