:root{
    --vh: 1vh;
    --text-color: #7e7e7e;
    --text-accent-color: #478EE4;
    --text-error-color: #F44336;
    --text-button-color: var(--text-error-color);
    --border-color: #c1c1c1;
    --border-radius: 8px;
    --bg-main: #fff;
    --bg-secondery: #eee;
    --padding: 10px;
    --margin: 10px;
    --z-modal: 1000;
    --z-page-overlay: 100;

    --calendar-day-width: 40px;
    --calendar-day-height: 40px;
    --calendar-day-selected-color: #b0dd86;
    --calendar-day-selected-border-radius: 4px;
    --calendar-header-bg-color: #d3e1ed;
    --calendar-arrow-bg-color: #eaf6ff;
    --calendar-bg-color: var(--bg-main); /* #eaf6ff */
    --calendar-arrow-color: #8ba7be;
    --calendar-weekend-text-color: #d44e4e;
    --calendar-border-radius: var(--border-radius);

    --task-bg-color: var(--bg-main);
    --task-content-gap: var(--padding);
    --task-border-color: var(--border-color);
    --task-title-color: var(--text-accent-color);
    --task-text-color: var(--text-color);
    --task-border-radius: var(--border-radius);

    --error-bg-color: var(--bg-main);

    --loader-width: 40px;
    --loader-height: 40px;
    --loader-color: var(--text-accent-color);
}