.client{
    color: var(--text-color);
    font-weight: 300;
}

.client-container{
    margin-top: var(--margin);
    border-radius: var(--ui-radius);
}

.client-title{
    font-size: 1rem;
}

.client-field{
    margin-top: var(--margin);
}

.client-field-descr{
    color: var(--text-color-secondary);
    font-size: 0.6rem;
}

.client-field-val{
    font-size: 0.8rem;
}

.client-phone{
    font-size: 0.8rem;
    color: var(--text-accent-color);
    text-decoration: none;
}

.client-companies{
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    gap: var(--offset);

}

.client-info{
    margin-top: var(--margin);
    padding: var(--padding);
    background-color: var(--bg-main);
}