.accordion{
    background-color: var(--bg-main);
    border: 1px solid var(--ui-border-color);
    border-radius: var(--border-radius);
    overflow: hidden;
}

.accordion-title{
    height: var(--ui-height);
    padding: var(--padding) var(--ui-height) var(--padding) var(--padding);
    position: relative;
    line-height: calc(var(--ui-height) - var(--padding) * 2);
    font-size: 0.7rem;
    font-weight: 600;
}

.accordion-title::after{
    content: '';
    position: absolute;
    right: calc(var(--ui-height) / 4);
    top: 50%;
    width: 0;
    height: 0;
    border-left: calc(var(--ui-height) / 8) solid var(--ui-border-color);
    border-bottom: calc(var(--ui-height) / 8) solid var(--ui-border-color);
    border-top: calc(var(--ui-height) / 8) solid transparent;
    border-right: calc(var(--ui-height) / 8) solid transparent;
    transform: translate(0, -50%) rotate(-45deg);
    transition: transform .3s;
}

.accordion.open .accordion-title::after{
    transform: translate(0, -50%) rotate(135deg);
}

.accordion-content{
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s;
}